@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600|Raleway:600');

$family-sans-serif: "Montserrat", sans-serif;
$react-blue: #4a90e2;
$vue-green: #65a124;
$dark-blue-grey: #1a2f46;
$dark-blue: #2f4768;
$orange: #ec8525;

@import "bulma";

* {
  transition: all 400ms ease;
}

@mixin sm {
  @media (max-width: 768px) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

.raleway {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3.4px;
  font-size: 4em;
  @include sm {
    font-size: 2.5em;
  }
}

.bigger-text-on-desktop {
  @include desktop {
    font-size: 2em;
  }
}

.navbar-icon-custom {
  margin-right: 22px;
}

.is-react-blue {
  color: $react-blue;
}

.is-vue-green {
  color: $vue-green;
}

.has-dark-blue-text {
  color: $dark-blue !important;
}

.is-orange {
  color: orange;
}

.experiences-bg {
  background-image: url(/img/experience-bg.jpg);
}

.experiences {
  background-image: linear-gradient(to bottom right, rgba(57, 120, 192, 0.98), rgba(20, 43, 68, 0.98));
  top: 10px;
}

.small-margin-level {
  margin-bottom: 0.7rem !important;
}

.is-slightly-smaller-than-fullheight {
  min-height: calc(100vh - 1rem) !important;
  @supports (-webkit-appearance:none) {
    .os-android & {
      min-height: calc(100vh - 56px - 1rem);
    }
  }
}

.has-2rem-padding {
  padding: 2rem;
}

.has-0-75-padding {
  padding: 0.75rem;
}

.tile-wrap {
  margin-bottom: 0 !important;
  margin: 1rem;
}

.tech-in-tile {
  padding: 1rem;
}

.avatar-matthieu {
  @include desktop {
    height: 240px;
  }
}

.is-100percent {
  width: 100%;
}

.mobile-navbar {
  @include sm {
    justify-content: center;
    width: 100%;
  }
  @include desktop {
    padding-right: 15vw;
  }
}

.no-decoration {
  text-decoration: none !important;
}

.hidden {
  opacity: 0
}

@import "animation"

// @import "debug";
